body {
  justify-items: center;
  display: grid;
}

.tile,
#scores,
#player-one,
#player-two,
#new-game-button,
#vs {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: grid;
  gap: 10px;
  grid-template-rows: 100px 400px 100px 100px;
  width: 400px;
  height: 800px;
}

#players {
  grid-row-start: 1;
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  gap: 10px;
}

.player {
  display: grid;
  background-color: lightgray;
  width: 100%;
}

#player-one,
#player-two {
  display: grid;
  justify-content: center;
  align-items: center;
}

#username-one,
#username-two {
  font-size: 30px;
}

#vs {
  background-color: lightgray;
  font-weight: bold;
  font-size: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
}

#board {
  display: grid;
  gap: 10px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-row-start: 2;
}

.tile {
  background-color: lightgrey;
  width: 1fr;
  height: 1fr;
  border: none;
  font-size: 80px;
}

#scoreboard {
  display: grid;
  padding: 20px;
  align-items: center;
  background-color: lightgrey;
  grid-row-start: 3;
}

#scores {
  text-align: center;
  font-size: 30px;
}

#new-game {
  background-color: lightgray;
  grid-row-start: 4;
  display: grid;
  justify-content: center;
  align-items: center;
}

#new-game-button {
  font-size: 30px;
  padding: 20px;
  border-radius: 15px 15px 15px 15px;
  width: 200px;
  border: none;
}
