body {
  justify-items: center;
  display: grid;
}

.tile,
#scores {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: grid;
  gap: 10px;
  grid-template-rows: 500px 1fr;
  width: 500px;
  height: 700px;
}

#board {
  display: grid;
  gap: 10px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.tile {
  background-color: lightgrey;
  width: 1fr;
  height: 1fr;
  border: none;
  font-size: 80px;
}

#scores {
  padding: 20px;
  background-color: lightgrey;
  text-align: center;
  font-size: 40px;
}
